<div id="<%= dom_id detail %>">
  <p>
    <strong>Name:</strong>
    <%= detail.Name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= detail.age %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= detail.gender %>
  </p>

  <p>
    <strong>Designation:</strong>
    <%= detail.Designation %>
  </p>

</div>
